<nav class="navbar navbar-expand-lg   nenu--box ">
    <div class="container-fluid">
      <a class="navbar-brand menu--title" href="#">Users_like.me</a>

      <div class="d-flex  menu--dropdown">
          
            <ul class=" me-auto d-flex  dropdow--toogle"  style="list-style: none">
          
                <li class="nav-item dropdown" >
                  <a class="nav-link dropdown-toggle menu--text " *ngIf="followUser" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Follow {{totalUser}} User.
                  </a>
                  <ul  class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="drop--title"> Follow {{totalUser}} User.</a>
                    <li *ngFor="let item of followUser"> 
                      <div class="dropdown-item">
                      <div class="drop--box">
                        <div class="drop-img">
                        <img class="img--circle" [src]="item.urlImage" >
                      </div>
                      <div class="drop--user">
                        <p class="user--title"> {{item.firstname}} {{item.lastname}}  </p>
                        <p class="user--subTitle"> {{item.city}},{{item.country}} </p> 
                      </div>
                      <div>
                        <button class="drop--btn"  (click)="unfollow(item.firstname)"> Unfollow</button>
                      </div>
                    </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
      </div>
  
  </nav>
  <section style="background: #f6f6f6;" >
      <div class="section--home">
        <div class="box--info">
            <p class="box--title">space</p>
            <h1 class="box--title-twoo">Find new user like you</h1>
          <div class="box--user">
            
            <div class="box--bg">
              <img class="img--box" [src]="usuario.picture.large" alt="">
            </div>
            <div class="box--bg--pic">
             <div class="circulo--bg">
                <img class="img--bg" [src]="usuario.picture.large" alt="">
             </div>
            </div>
            <div class="btn--box">
                <div class="btn--guard">
            </div>
                <div class="btn--guard">
                    <button *ngIf="controle" class="btn--user" (click)="follow(usuario.name.first, usuario.name.last)" > {{inscrible}} </button>

                    <button *ngIf="!controle" class="btn--user--fl" (click)="follow(usuario.name.first, usuario.name.last)" > {{inscrible}} </button>
                </div>
                <div class="btn--guard--two">
                    <button  class="btn--user--two" (click)="tryTheNextone()"> Try the next one</button>
                </div>
            </div>

            <div class="info--user--box" >
                <h4 class="info--user">{{usuario.name.first}}</h4>
                <p class="info--country"> {{usuario.location.country}}, {{usuario.location.city}}</p>
            </div>
          </div>  
        </div>
      </div>

      <div class="cards--box">
        <div class="card--user">
            
          <div class="card--personal">
              <h1 class="card--title">Personal Info</h1>
              <p class="personal--info">
                born at: {{usuario.nat}}
              </p>
              <p class="personal--info">
                age: {{usuario.dob.age}} years old
              </p>
              <div class="personal--more">
               <button (click)="mostrar()"  class="personal--btn">see more</button>
              </div>
               
              <div *ngIf="aparecer">
                <p class="personal--info">
                gender: {{usuario.gender}}
                </p>
                <p class="personal--info">
                Date: {{usuario.dob.date}} 
                </p>
              
                <p class="personal--info">
                  Last Name: {{usuario.name.last}} 
                  </p>
                </div>
            </div>
            
            
            <div class="card--contact">
              <h1 class="card--title">Contact info</h1>
              <p class="personal--info">
                email: {{usuario.email}}
              </p>
              <p class="personal--info">
                phone 1: {{usuario.phone}}
              </p>
              <div class="personal--more">
                <button (click)="mostrar()" class="personal--btn">see more</button>
              </div>
              
              <div *ngIf="aparecer" >
                <p class="personal--info">
                state: {{usuario.location.state}}
                </p>
                <p class="personal--info">
                City: {{usuario.location.city}} 
                </p>
              
                <p class="personal--info">
                  Street: {{usuario.location.street.name}} 
                </p>
              
                </div>


            </div>
        </div>

      </div>

    </section>

    

     



    
  