.nenu--box {
  background: #9022f3;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.411);

  .menu--text {
    color: #ffd3ff;
  }

  .menu--dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-right: 50px;
    color: #ffd3ff;

    @media (max-width: 560px) {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      margin-right: 10px;
    }

    .dropdow--toogle {
      margin-top: 20px;
      color: #ffd3ff;
    }
  }
}

.section--home {
  height: 40vh;
  background: #9022f3;

  .box--info {
    width: 80%;
    height: 250vh;
    margin: auto;

    .box--title {
      text-align: center;
      color: #9022f3;
      font-size: 1px;
    }

    .box--title-twoo {
      text-align: center;
      margin-top: 5px;
    }

    .box--user {
      width: 100%;
      height: 25%;
      background: green;

      .box--bg {
        width: 100%;
        height: 50%;
        background: gold;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .circulo--bg {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          overflow: hidden;
          float: left;
          margin: 15px;
          transition: 0.3s ease;
          background: #ffff;
          margin-bottom: -40px;
        }
      }

      .btn--box {
        @media (max-width: 720px) {
          width: 100%;
          height: auto;
          margin-top: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        @media (min-width: 721px) {
          background: blue;
          margin-top: 50px;
          margin-left: auto;
          align-items: flex-end;
          justify-content: flex-end;
          justify-content: flex-end;
          justify-items: end;
          display: grid;
          grid-template-columns: repeat(
            3,
            1fr
          ); /*adapta e divide proporcionalmente as colunas e os quadrados */
        }

        .btn--guard {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .btn--user {
            width: 80%;
            height: 40px;
            display: flex;

            @media (max-width: 720px) {
              width: 50%;
            }
          }
        }

        .btn--guard--two {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          @media (max-width: 720px) {
            justify-content: center;
          }
          .btn--user--two {
            width: 50%;
            height: 40px;
          }
        }
      }
    }

    .info--user--box{
        width: 100%;
        height: auto;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .info--user{
          color: #ffff;
          margin: none;  

          @media (min-width: 721px) {
              font-size: 40px;
          }
        }
        .info--country{
            color: #ffff;
            margin: none;  
  
            @media (min-width: 721px) {
                font-size: 20px;
            }
        }
    }
  }
}
