.dropdown-menu-end{
  margin-left: -70px
}

.nenu--box {
  background: #9022f3;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.411);

  .menu--text {
    color: #ffd3ff;
  }

  .menu--dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-right: 50px;
    color: #ffd3ff;

    @media (max-width: 560px) {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      margin-right: 10px;
    }

    .dropdow--toogle {
      margin-top: 20px;
      color: #ffd3ff;
    }
  }
}

.section--home {
  height: 40vh;
  background: #9022f3;

  .box--info {
    width: 80%;
    height: 250vh;
    margin: auto;

    .box--title {
      text-align: center;
      color: #9022f3;
      font-size: 1px;
    }

    .box--title-twoo {
      text-align: center;
      margin-top: 5px;
    }

    .box--user {
      width: 100%;
      height: 30%;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.096);
      border-width: 2px;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.096);

      .box--bg {
        width: 100%;
        height: 50%;
        background: gold;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .circulo--bg {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          overflow: hidden;
          float: left;
          margin: 15px;
          transition: 0.3s ease;
          background: #ffff;
          margin-bottom: -40px;
        }
      }

      .btn--box {
        @media (max-width: 720px) {
          width: 100%;
          height: auto;
          margin-top: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        @media (min-width: 721px) {
          margin-top: 50px;
          margin-left: auto;
          align-items: flex-end;
          justify-content: flex-end;
          justify-content: flex-end;
          justify-items: end;
          display: grid;
          grid-template-columns: repeat(
            3,
            1fr
          ); /*adapta e divide proporcionalmente as colunas e os quadrados */
        }

        .btn--guard {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .btn--user {
            width: 80%;
            height: 40px;
            display: flex;

            @media (max-width: 720px) {
              width: 50%;
            }
          }
        }

        .btn--guard--two {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          @media (max-width: 720px) {
            justify-content: center;
          }
          .btn--user--two {
            width: 50%;
            height: 40px;
          }
        }
      }
    }

    .info--user--box{
        width: 100%;
        height: auto;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .info--user{
          color: #ffff;
          margin: none;  

          @media (min-width: 721px) {
              font-size: 40px;
          }
        }
        .info--country{
            color: #ffff;
            margin: none;  
  
            @media (min-width: 721px) {
                font-size: 20px;
            }
        }
    }
  }
}

.cards--box{
  width:100%;
  height: 100vh;
  margin-top: 300px;
  display: flex;
  justify-content: center;
  justify-items: center;
  

  @media (max-width: 504px) {
    margin-top: 340px;
  }

  
  .card--user{
    width:80%;
    display: grid;
    grid-template-columns: repeat(
      2,
      1fr
    ); 
    column-gap: 1.0rem; /* espaço entre as imagens ou os quadrados */

    @media (max-width: 400px) {
     display: flex;
     flex-direction:column;
    }
  }

  .card--personal{
    width:100%;
    height: 100%;
    border-style: solid;
      border-color: rgba(0, 0, 0, 0.096);
      border-width: 2px;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.096);

    @media (max-width: 400px) {
      display: flex;
      flex-direction:column;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.096);
      border-width: 2px;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.096);
     }
  }

  .card--contact{
    width:100%;
    height: 100%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.096);
    border-width: 2px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.096);

    @media (max-width: 400px) {
      display: flex;
      flex-direction:column;
      margin-top: 20px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.096);
      border-width: 2px;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.096);
     }
  }

  .card--title{
    margin-top: 20px;
    margin-left: 15px;
    
    @media (max-width: 652px) {
      font-size: 35px; 
    }
    
    @media (max-width: 579px) {
      font-size: 30px; 
    }
    @media (max-width: 500px) {
      font-size: 25px; 
    }
   
    @media (max-width: 430px) {
      font-size: 20px; 
    }

    @media (max-width: 400px) {
      font-size: 30px; 
    }
  }
  
.personal--info{
 
  color:#767676  ;
  margin-left: 15px;
}

.personal--more{
  width:100%;
  border-top: 1px solid ;   
}

.personal--btn{
  border: none;
  outline: none;
  background: #fff;
}

}
