.dropdown-menu-end {
  margin-left: -350px;
  width: 380px;
  @media (max-width: 560px) {
    margin-left: -340px;
  }
  @media (max-width: 420px) {
    margin-left: -260px;
    width: 320px;
  }
  @media (max-width: 330px) {
    margin-left: -243px;
    width: 300px;
  }

.drop--title{
  display: flex;
  width: 100%;
  font-size: 100%;
  color: #9022f3;
  font-weight: bold;
  justify-content: space-around;
}
}
.drop--box {
  display: flex;
  justify-content: center;
  align-items: center;

  .drop-img {
    margin-right: 10px;

    .img--circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      float: left;
      transition: 0.3s ease;
      background: #ffff;
    }
  }
}

.drop--user {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  text-align: center;
  align-items: center;

  .user--title {
    font-size: 100%;
    margin: initial;
  }

  .user--subTitle {
    font-size: 70%;
    margin: initial;
    @media (max-width: 420px) {
      font-size: 60%
    }
  
  }
}
.drop--btn{
  background: #e25c54;
  margin-left: 30px;
  color: #ffff;
  outline: none;
  border: none;

}

.nenu--box {
  background: #9022f3;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.411);

  .menu--text {
    color: #ffd3ff;
  }

  .menu--dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-right: 50px;
    color: #ffd3ff;

    @media (max-width: 560px) {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      margin-right: 10px;
    }

    .dropdow--toogle {
      margin-top: 20px;
      color: #ffd3ff;
    }
  }
}

.section--home {
  height: 40vh;
  background: #9022f3;

  .box--info {
    width: 80%;
    height: 250vh;
    margin: auto;

    .box--title {
      text-align: center;
      color: #9022f3;
      font-size: 1px;
    }

    .box--title-twoo {
      text-align: center;
      margin-top: 5px;
    }

    .box--user {
      width: 100%;
      height: 30%;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.096);
      border-width: 2px;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.096);
      background: #fbfbfb;

      .box--bg {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;

        .img--box {
          width: 100%;
          height: 100%;
        }
      }

      .box--bg--pic {
        width: 100%;
        height: 0%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
      .circulo--bg {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        float: left;
        margin: 15px;
        transition: 0.3s ease;
        background: #ffff;
        margin-bottom: -40px;
      }

      .img--bg {
        width: 100%;
        height: 100%;
      }

      .btn--box {
        @media (max-width: 720px) {
          width: 100%;
          height: auto;
          margin-top: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        @media (min-width: 721px) {
          margin-top: 50px;
          margin-left: auto;
          align-items: flex-end;
          justify-content: flex-end;
          justify-content: flex-end;
          justify-items: end;
          display: grid;
          grid-template-columns: repeat(
            3,
            1fr
          ); /*adapta e divide proporcionalmente as colunas e os quadrados */
        }

        .btn--guard {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .btn--user {
            width: 80%;
            height: 40px;
            display: flex;
            background: #3e99f3;
            color: #ffff;
            border-radius:10px;
            font-size:100%;
            justify-content: center;
            text-align: center;
            margin: auto;
            outline: none;
            border: none;
            align-items: center;
            font-weight: bold;

            @media (max-width: 720px) {
              width: 50%;
              margin-bottom: 10px;
            }
          }
        }

        .btn--guard--two {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          @media (max-width: 720px) {
            justify-content: center;
          }
          .btn--user--two {
            width: 50%;
            height: 40px;
            background: #fafafa;
            color: #070707;
            border-radius:10px;
            font-size:100%;
           
            text-align: center;
            
            outline: none;
            
            align-items: center;
            
          }
        }
      }
    }

    .info--user--box {
      width: 100%;
      height: auto;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .info--user {
        color: #767676;
        margin: none;

        @media (min-width: 721px) {
          font-size: 40px;
        }
      }
      .info--country {
        color: #767676;
        margin: none;

        @media (min-width: 721px) {
          font-size: 20px;
        }
      }
    }
  }
}

.cards--box {
  width: 100%;
  height: 100%;
  margin-top: 300px;
  display: flex;
  justify-content: center;
  justify-items: center;
  background: #f6f6f6;

  @media (max-width: 504px) {
    margin-top: 340px;
  }

  .card--user {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem; /* espaço entre as imagens ou os quadrados */
    height: 50%;
    @media (max-width: 400px) {
      display: flex;
      flex-direction: column;
    }
  }

  .card--personal {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.096);
    border-width: 2px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.096);
    background: #fbfbfb;

    @media (max-width: 400px) {
      display: flex;
      flex-direction: column;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.096);
      border-width: 2px;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.096);
    }
  }

  .card--contact {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.096);
    border-width: 2px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.096);
    background: #fbfbfb;

    @media (max-width: 400px) {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.096);
      border-width: 2px;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.096);
    }
  }

  .card--title {
    margin-top: 20px;
    margin-left: 15px;

    @media (max-width: 652px) {
      font-size: 35px;
    }

    @media (max-width: 579px) {
      font-size: 30px;
    }
    @media (max-width: 500px) {
      font-size: 25px;
    }

    @media (max-width: 430px) {
      font-size: 20px;
    }

    @media (max-width: 400px) {
      font-size: 30px;
    }
  }

  .personal--info {
    color: #767676;
    margin-left: 15px;
    width: 80%;
  }

  .personal--more {
    width: 100%;
    border-top: 1px solid;
  }

  .personal--btn {
    border: none;
    outline: none;
    background: #fff;
  }
}
